<div class="container">
  <div class="row deck">
    <div class="col-xs-6 col-md-12">

      <h3>Poker hand evaluator</h3>

      <button class="btn btn-primary" (click)="deck()">New deck</button>
      <button class="btn btn-success" (click)="newHandEvaluate()">Deal hand and evaluate</button>
      <br/>
    </div>
  </div>
</div>

<br/><br/>

<div class="container">
  <div class="row deck">
    <div class="col-xs-6 col-md-12">

      <h3>Hand</h3>
      <div *ngIf="gameService.dealer.gameModel.winningHand">
        {{ gameService.dealer.gameModel.winningHand.toString() }}
        <br/>
        <div class="hand">
          <div *ngFor="let card of gameService.dealer.gameModel.hand.cards" class="card-container">
    <span [ngClass]="gameService.dealer.gameModel.winningHand.isWinningCard(card) ? 'winningCard' : ''">
      <img width=90 src="{{ card.getImageFileName() }}" alt="{{ card.toString() }}" title="{{ card.toString() }}"><br/>
      <span class="card-text">{{ card.toString() }}</span>
    </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container deck">
  <div class="row">
    <div class="col-xs-6 col-md-12">
      <h3>Deck of cards <span class="label label-default">{{
      gameService.dealer.gameModel.deck.count()
      }}</span></h3>
    </div>
    <div class="row row-centered">
      <span *ngFor="let card of gameService.dealer.gameModel.deck.cards">
       <img width=60 src="{{ card.getImageFileName() }}" alt="{{ card.toString() }}" title="{{ card.toString() }}">
      </span>
    </div>
  </div>
</div>

