<br/>
<div class="container">
  <div class="row deck">
    <div class="col-xs-12 col-md-5">
      <!--<h3>Poker hand evaluator</h3>-->
      <div class="panel panel-default ">
        <div class="panel-heading">Deck of cards</div>
        <div class="panel-body">
          <button class="btn btn-primary" (click)="deck()">New deck</button>
          <button class="btn btn-default" (click)="clear()">Clear deck</button>
          <button class="btn btn-default" (click)="shuffle()">Shuffle deck</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">Poker hands</div>
        <div class="panel-body">
          <button class="btn btn-primary" (click)="dealAndEvaluate()">Deal and evaluate</button>
          <button class="btn btn-default" (click)="deal()">Just deal a hand</button>
          <button class="btn btn-default" (click)="evaluate()">Just evaluate a hand</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row deck">
    <div class="col-xs-12 col-md-12">

      <h3>Hand</h3>
      <div>
        <br/>
        <div class="hand" style="width:100%;text-align:center;">
          <h4 style="text-align: center;font-weight:900;">
            <span *ngIf="!gameStore.deck">
              Welcome! First, please create a new deck.
            </span>
            <span *ngIf="gameStore.deck && !gameStore.hand">
              Now, deal a hand.
            </span>
            <span *ngIf="gameStore.winningHand">
              {{ gameStore.winningHand.toString() }}
            </span>
          </h4>
          <span *ngIf="gameStore.hand">
          <div *ngFor="let card of gameStore.hand.cards" class="card-container">
    <span
      [ngClass]="gameStore.winningHand && gameStore.winningHand.isWinningCard(card) ? 'winningCard' : ''">
      <img width=90 src="{{ card.getImageFileName() }}" alt="{{ card.toString() }}" title="{{ card.toString() }}"><br/>
      <span class="card-text">{{ card.toString() }}</span>
    </span>
          </div>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>

